/*전체 프로젝트 관련*/
.Project{
    padding: 0;
    margin: 0;
}

/*테이블 관련*/
.tables-container {
    display: flex;
    height: 750px;
    flex-direction: row;
    /* overflow-y: auto; */
    overflow-x: auto;
    
}



/*좌측 테이블 관련*/
.project-table-container{
    width: 450px;
    height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
}

.project-table{
    width: 100%;
    border-collapse: collapse;
    /* margin-left: 200px; */
}

.project-table th{
    border: 1px solid black;
    padding: 8px;
    max-width: 80px;
    height: 70px;
    text-align: left;
    white-space: nowrap;            /*텍스트가 줄바꿈 되지 않도록 설정*/    
    overflow: hidden;               /*콘텐츠가 셀에서 넘치면 숨기기 */
    text-overflow: ellipsis;        /*셀 내용이 너무 길 경우 말줄임(...)으로 표시*/
}

.project-table td{
    font-size: 15px;
    padding: 8px;
    max-width: 80px;
    height: 40px;
    border-top: 1px solid rgb(178, 175, 175);
    text-align: left;
    white-space: nowrap;            /*텍스트가 줄바꿈 되지 않도록 설정*/    
    overflow: hidden;               /*콘텐츠가 셀에서 넘치면 숨기기 */
    text-overflow: ellipsis;        /*셀 내용이 너무 길 경우 말줄임(...)으로 표시*/
}

.project-table th:hover, .project-table td:hover{
    background-color: yellowgreen;
}

.project-table tbody{
    max-height: 300px;
}

/*테이블 말줄임 클릭 관련 */
.ellipsis-active {
    white-space: normal !important;   /* 클릭 시 줄 바꿈이 되도록 설정 */
    overflow: visible !important;      /* 내용이 모두 표시되도록 설정 */
    text-overflow: unset !important;    /* 말줄임 표시를 비활성화 */
    word-break: break-all;
}


/* 우측 테이블 css */
.time-table-container{
    width: 1500px;
    height: 800px;
    margin-left: 20px;
    display: flex;
    /* overflow-x: auto; */
}

.time-table-container table {
    border-collapse: collapse;
    width: 100%;
}
.time-table-container th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    height: 20px;
    font-size: 12px;
}
.Interesting tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* 짝수 행 배경색 */
}

.Interesting tbody tr:nth-child(odd) {
  background-color: rgb(95, 88, 88); /* 홀수 행 배경색 */
}

.time-table-container td{
    padding: 0px;
    height: 40px;
    border-top: 1px solid rgb(178, 175, 175);
    border: none;
}

.time-table-container tr {
    width: 40px;
    height: 20px;
}

.time-table-container tbody tr:nth-child(even) {
    background-color: #d4d3d3; /* 짝수 행 배경색 */
  }
  
  .time-table-container tbody tr:nth-child(odd) {
    background-color: rgb(180, 177, 177); /* 홀수 행 배경색 */
  }
  

/* 이 아래 항목들은 선후행관계를 표시하기 위한 선을 나타내기 위함(아직 적용 안됨)*/
.FS-line1 {
    position: relative;
  }

.FS-line1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    bottom: 50%;
    border-bottom: 3px solid black; /* 대각선의 스타일 및 두께 설정 */
    /*대각선*/
    transform: rotate(180); 
    transform-origin: center; /* 회전 중심점 설정 */}


.FS-line1::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px; /* 선의 두께를 변경 */
    height: 23px; /* 선의 높이를 변경 */
    background-color: black; /* 선의 색상 */
    z-index: -1;  
}
    

/* .FS-line1::after {

    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;        
    border-bottom: 3px solid black; 
    transform: rotate(90deg);
    transform-origin: center;   
                  
} */
/*(20기준으로 +40씩 하면될듯)*/
/* 대각선의 스타일 및 두께 설정 */
/*회전 중심점 설정 */
/*우선순위 설정해서 막대그래프 뒤로 오도록 설정 */
.FS-line2 {
    position: relative;
    }

.FS-line2::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 48%;
    width: 20px;
    bottom: 50%;
    border-bottom: 3px solid black; /* 대각선의 스타일 및 두께 설정 */
    transform: rotate(90deg);
    transform-origin: center; /* 회전 중심점 설정 */}


.FS-line2::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    bottom: 50%;
    border-bottom: 3px solid black; /* 대각선의 스타일 및 두께 설정 */
    /*대각선*/
    transform: rotate(180); 
    transform-origin: center; /* 회전 중심점 설정 */
}

.FS-line3 {
    position: relative;
    }

.FS-line3::before {
    content: '';
    position: absolute;
    left: -60px;        /*3일 3*20 =60     동적으로 받아야함 */
    width: 120px;       /* 오른쪽 왼쪽 선(20 + 20) + 2일차이(40*2) 선행작업 종료일 4, 후행작업 시작일 3 동적으로 받아야함
    만약 후행 작업의 시작일이 선행작업의 종료일보다 뒤에 있다면 0으로 둬야함*/
    bottom: 0px;
    border-bottom: 3px solid red; /* 대각선의 스타일 및 두께 설정 */
    
    transform-origin: bottom; /* 회전 중심점 설정 */}




.arrow-right {
    position: relative;
}

.arrow-right::before {
    content: '';
    position: absolute;
    top: 50%;
    /* left: 100%; */
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid black; /* 화살표의 색상 및 크기 설정 */
    transform: translateY(-50%);
}

